.articles-by-category ul{
    list-style-type: none;
    padding: 0px;
}

.articles-by-category .load-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}