.article-item-image img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.article-item{
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.article-item a {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: #000;
}

.article-item h2 {
    font-size: 1.7rem;
}

.article-item-image {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #aaa;
}

.article-item-info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.article-item-info p {
    flex: 1;
    color: #555;
    font-size: 1.1rem;
}